.container {
    width: 800px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.header {
    color: #f99222;
}

.sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sections .section {
    margin-right: 50px;
}

.section h2, .section a {
    color: #55bbb3;
    text-decoration: underline;
}

.section a:focus, .section a:active {
    color: #366d68;
}

.demo-pic {
    width: 330px;
    height: 250px;
}