.container {
    width: 700px;
    margin: 0 auto;
}

.header {
    color: #f99222;
}

.info {
    margin-bottom: 40px;
}

.sections {
    display: flex;
    flex-direction: row;
    margin-top: -40px;
}

.sections .section {
    margin-right: 50px;
}

.section a {
    color: #55bbb3;
    text-decoration: underline;
}

.section a:focus, .section a:active {
    color: #55bbb3;
}

.demo-pic {
    width: 330px;
    height: 250px;
}