.container {
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: 50px auto;
}

#copsandrobbers {
    display: block;
}

.selection-layer {
    display: none;
    background-color: rgba(128,128,128, 0.8);
    position: absolute;
    height: 600px;
    width: 600px;
}

.selection-layer button {
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
    float: none;
    width: 120px;
    height: 40px;
    color: white;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 4px;
    background: linear-gradient(#2ec56e, #079c35);
    box-shadow: -5px 5px 8px #888888;
    cursor: pointer;
}

.selection-layer button:hover, .selection-layer button:focus {
    background: linear-gradient(#079c35, #2ec56e);
}

.restart-layer {
    display: none;
    background-color: rgba(128,128,128, 0.8);
    position: absolute;
    color: white;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: bold;
    height: 600px;
    width: 600px;
}

.restart-layer button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    float: none;
    width: 120px;
    height: 40px;
    color: white;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 4px;
    background: linear-gradient(#2ec56e, #079c35);
    box-shadow: -5px 5px 8px #888888;
    cursor: pointer;
}

.restart-layer button:hover, .selection-layer button:focus {
    background: linear-gradient(#079c35, #2ec56e);
}

#robber {
    position: absolute;
    left: 30%;
    top: 50%;
}