.container {
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: 50px auto;
}

#snake {
    display: block;
}

.score-panel {
    width: 200px;
    height: 600px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 2;
    border: 1px solid gray;
    border-left: none;
    letter-spacing: 1px;
}

.restart-layer {
    display: none;
    background-color: #808080;
    position: absolute;
    height: 620px;
    width: 800px;
}

.restart-layer button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
    margin-left: 300px;
    margin-top: 250px;
}